:root {
    --primary: rgb(43, 131, 245);
    --secondary: rgb(247, 165, 66);
    --bg-body: white;
    --universal-text-color: black;
    --bg-btn-hover: rgb(218, 215, 215);
    --btn-hover-color: black;
    --operator-btn-hover: rgb(234, 36, 36);
    --border-color: rgb(215, 211, 211);

    --btn-padding: 1rem;
    --btn-border-raduse: 6px;
    --universal-border-raduse: 10px;
}

body {
    background-color: var(--bg-body);
    color: var(--universal-text-color);
    align-items: center;
}

header {
    display: flex;
    justify-content: center;
    text-align: center;
}

h1 {
 font-size: xx-large;
}

.main-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 100%;
    margin-top: 1rem;

}
#input-section {
    box-sizing: border-box;
      min-width: 350px;
      height: 50px;
      padding: 5px;
      border-radius: var(--universal-border-raduse);
      border: 1px solid var(--border-color);
      display: flex;
      justify-content: flex-end;
      align-items: center;
      font-size: 1.8rem;
      
}
.number-and-operator-holder {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    min-width: 350px;
    border: 1px solid var(--border-color);
    height: auto;
    padding: 5px;
    border-radius: var(--universal-border-raduse);
    gap: 5px;
 }

 #btn1, #btn2, #btn3, #btn4, #btn5, #btn6, #btn7, #btn8, #btn9, #btn0 {
    height: 45px;
    font-size: x-large;
    background-color: var(--primary);
    border: none;
    border-radius: var(--btn-border-raduse);
    color: white;
 }
  #btn1:hover, #btn2:hover, #btn3:hover, #btn4:hover, #btn5:hover, #btn6:hover, #btn7:hover, #btn8:hover, #btn9:hover, #btn0:hover {
    background-color: var(--bg-btn-hover);  
    color: var(--btn-hover-color);
    
 }

 #btn-p, #btn-m, #btn-mu, #btn-d, #btn-e, #btn-c {
    height: 45px;
    font-size: x-large;
    background-color: var(--secondary);
    border: none;
    border-radius: var(--btn-border-raduse);
    color: white;
    transition: transform 0.1s ease-in-out 0.1s;
  
  /* Optional: tells it to scale from the exact center */
  transform-origin: center;
 }

 #btn-p:hover, #btn-m:hover, #btn-mu:hover, #btn-d:hover, #btn-e:hover {
    background-color: var(--bg-btn-hover);
    color: var(--btn-hover-color);
    transform: scale(1.05);
 }
  #btn-c:hover {
    background-color: var(--operator-btn-hover);
  }
